<template>
  <article class="feed">
    <a :href="feed.URL" class="feed-link">
      <h3 class="feed-title">
        {{feed.title}}
      </h3>
    </a>
    <div class="feed-thumbnail">
      <img :src="thumbnail" :alt="feed.thumbnail.title" loading="lazy" class="feed-thumbnail-image" />
      <div class="feed-thumbnail-bar">
        <a :href="feed.folder.URL" class="feed-thumbnail-bar-category">
          {{feed.folder.name}}
        </a>
        <time :datetime="feed.date.modified" class="feed-thumbnail-bar-time">
          il y a {{editedSince}}
        </time>
      </div>
    </div>
    <p class="feed-lead">
      {{feed.lead}}
    </p>
  </article>
</template>

<script>
export default {
  name: 'Feed',
  props: {
    feed: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    thumbnail(){
      return this.feed.thumbnail.URL.replace('{size}', 'thumb');
    },
    editedSince(){
      let minutes = Math.round(Math.abs(new Date() - new Date(this.feed.date.modified)) / 36e5 * 60);
      let hours = Math.round(minutes/60);
      let days = Math.round(minutes/3600);

      if(minutes < 60)
        return `${minutes} minutes`
      else if(hours)
        return `${hours} heures`
      else return `${days} jours`
    }
  }
}
</script>

<style lang="scss">
.feed{
  width: auto;
  position:relative;
  cursor:pointer;
  display:flex;
  flex-direction:column;
  grid-column: span 12;

  $breakpoints: ("720px": 6, "1160px": 4);
  @each $bp, $cols in $breakpoints {
    @media screen and (min-width: $bp){
      & {
        grid-column: span $cols;
      }
    }
  }

  .feed-link{
    color:inherit;
    text-decoration:none;
    .feed-title{
      font-size: 22px;
      transition: color 0.25s;
      padding: 10px 15px;
    }
    &:hover{
      color:#14f032;

      & + .feed-thumbnail .feed-thumbnail-image{
        -webkit-transform: scale3d(1.1,1.1,1);
        transform: scale3d(1.1,1.1,1);
      }
    }
    &:after{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      z-index:1;
    }
  }

  .feed-lead{
    padding: 0 15px;
    margin:0;
    font-size: 17px;
    line-height: 1.25;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

  }

  .feed-thumbnail{
    background: #b9b9b9;
    padding-top: 58%;
    position:relative;
    border-radius: 30px 30px 30px 0;
    overflow:hidden;
    z-index: 1;
    pointer-events: none;
    order:-1;

    &-image{
      position: absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
      transition: transform .25s,opacity .2s,-webkit-transform .25s;
    }
    &-bar{
      position: absolute;
      bottom:0;
      width:100%;
      display:flex;
      justify-content:space-between;
      align-items:center;
      height:34px;
      background: rgba(50,50,50,.7);
      -webkit-backdrop-filter: blur(10px) saturate(300%);
      backdrop-filter: blur(10px) saturate(300%);
      color:white;

      &-time{
        font-size: 11px;
        padding-right:25px;
        white-space: nowrap;
        margin-left: 20px;
      }

      &-category{
        position: relative;
        padding: 0 15px;
        height:100%;
        color: currentColor;
        text-decoration: none;
        font-size: 11px;
        transition: color .25s;
        line-height: 34px;
        z-index:2;
        pointer-events: all;
        &:hover{
          color:#14f032;
        }
        &:after{
          background: #14f032;
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          content: "";
          width: 30px;
          height: 1px;
          transition: width .25s;
        }
        &:hover:after{
          width: 100%;
        }
      }
    }
  }
}
</style>
