<template>
  <section class="grid">
    <Feed v-for="(feed, index) in feeds" :key="index" :feed="feed" />
  </section>
</template>

<script>
import Feed from './components/Feed.vue'
import axios from 'axios';

export default {
  name: 'App',
  components: {
    Feed
  },
  data(){
    return {
      feeds: [],
    }
  },
  mounted(){
    axios
        .get('https://api.melty.fr/v1/fr/feeds/2?limit=6')
        .then(response => (this.feeds = response.data.feed_elements.items))
  }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

*{
  box-sizing: border-box;
}
#app {
  font-family: Quicksand,sans-serif;
  color: #2c3e50;
}
h1, h2, h3{
  font-family: Source Sans Pro,sans-serif;
  margin: 0;
}
body{
  margin:0;
}
.grid{
  display: grid;
  grid-template: auto/repeat(12,1fr);
  max-width: 1140px;
  width:100%;
  margin: auto;
  padding:10px;
  @media screen and (min-width: 375px){
    grid-gap: 30px;
  }
  @media not screen and (min-width: 375px){
    grid-gap: 20px;
  }
}
</style>
